p{
	color: white;
	text-align: center;
	padding: 20px;
	margin: auto;	
	cursor: pointer;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}
body{
	background-color: #2B2D2F;
	position: relative;
	}
	
.left{
	float: left;
}
#gtext{
	margin-top: 20px;
	font-family: 'Charmonman';
	text-align: center;
	text-decoration-color: white;
	color: white;
}

.grid-container{
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
 }
 


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.grid-container{
	display: grid;
	 grid-column-gap: 20px;
	  grid-template-columns: auto auto auto;
}

.grid-container1{
  display: grid;
  grid-gap: 10px;
}

/*
li{
	list-style: none;
	display: inline-block;
}*/